body {
    background-color: #000000; /* Dark background color */
    color: #fff; /* Dark text color */
}

/* This allows me to reset all the default stuff */
nav ul {
    list-style-type: none; /* Remove default list bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3; /* Button background color on hover */
}
