body {
    background-color: #000000; /* Dark background color */
    color: #fff; /* Dark text color */
}

/* This allows me to reset all the default stuff */
nav ul {
    list-style-type: none; /* Remove default list bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c62d42; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #ff505f; /* Button background color on hover */
}

.header {
    text-align: center;
    padding: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 300px;
    margin: 20px;
}

#dropdown-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: black; /* Change text color to black */
}

.dropdown-list li:hover,
.dropdown-list li input[type="checkbox"]:checked + label {
    background-color: #8b0000; /* Dark red background color */
    color: #fff; /* White text color */
}

.dropdown-list input[type="checkbox"] {
    margin-right: 10px;
}

.selected-options {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.selected-option {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.selected-option .remove-option {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.selected-option .remove-option:hover {
    color: #ff0000;
}

#toggle-all {
    margin-top: 10px;
}

.selected-option .remove-option {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.selected-option .remove-option:hover {
    color: #ff0000;
}

#toggle-all {
    margin-top: 10px;
}
